mixin pokeCard(pokemonCard)

        div.card(class=pokemonCard.color)
            div.card-header
                div.card-title=pokemonCard.name
                hp=pokemonCard.hp
                img.typeimage(src=pokemonCard.typeimage)
                img.pokemonimage(src=pokemonCard.pokemonimage)
            div.card-body
                div.card-details
                    div.moveType
                        br
                        br
                        br
                        br
                        img.type(src=pokemonCard.movetype)
                        img.type2(src=pokemonCard.movetype2)
                        movename=pokemonCard.movename
                        movepower=pokemonCard.movepower
                    div.moveType2
                        br
                        img.type(src=pokemonCard.movetype)
                        img.type2(src=pokemonCard.movetype)
                        img.type(src=pokemonCard.movetype2)
                        movename2=pokemonCard.movename2
                        movepower2=pokemonCard.movepower2
                div.bottomDesc
                    br
                    div.res
                        br
                        resdesc=pokemonCard.resdesc
                        img.resistance(src=pokemonCard.resistance)
                    div.weak
                        br
                        weakdesc=pokemonCard.weakdesc
                        img.weakness(src=pokemonCard.weakness)
                    div.ret
                        br
                        retdesc=pokemonCard.retdesc
                        img.retreat(src=pokemonCard.retreat)
                    div.edit
                        a(href=`/edit/${pokemonCard.id}`) Edit
